body {
    font-family: Helvitca, sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
    break-after: avoid;
}

h3 {
    font-size: 1.0em;
    break-after: avoid;
}

.unnumberedHeader{
    font-weight: bold;
}


/*----------------------------------------------*/
/*----------------------------------------------*/
/*DOCUMENT TITLE PAGE SPECIAL FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.titlePage1{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.titlePage2{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.titlePage3{
    font-size: 1.25em;
    text-align: center;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/






/*----------------------------------------------*/
/*----------------------------------------------*/
/*INSPECTION SECTION SPECIAL FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.tableInspections {
    width: 90%;
}

.cellInspectionNumber {
    width: 5%;
    min-width: 3em;
}

.cellInspectionInterval {
    width: 5%;
    min-width: 6em;
}

.cellInspectionText {
    width: 90%;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/





/*----------------------------------------------*/
/*----------------------------------------------*/
/*STANDARD IMAGE FORMATTING*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.imageCentered_6x8{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6in;
    height: 8in;
}

.imageCentered_3x2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3in;
    height: 2in;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/









/*----------------------------------------------*/
/*----------------------------------------------*/
/*TABLE OF CONTENTS STUFF*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.tocHeader{
    text-align: center;
    font-weight: bold;
    font-size: .9em;
    text-decoration: underline;
}
.tocLevel2{
    font-size: .9em;
    /* line-height: 0.1em; */
}
.tocLevel3{
    font-size: .9em;
    /* line-height: 0.1em; */
    margin-left: .5em;
}
.tocLevel4{
    font-size: .9em;
    /* line-height: 0.1em; */
    margin-left: .75em;
}
.tocGrid{
    display: grid;
    grid-template-columns: auto max-content;
    align-items: end;

    position: relative;
    overflow: hidden;
}
.tocLeaders::after{
    position: absolute;
    padding-left: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
}
.tocPageNum::after{
    content: target-counter(attr(href), pageDesc);
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/


