.breakBeforeRight {
    break-before: right;
}

.breakBefore {
    break-before: page;
}
.dontBreakBefore{
    break-before: avoid;
}

.breakAfter {
    break-after: page;
}

.dontBreakAfter{
    break-after: avoid;
}

.sectionDescription {
    page: descriptionSection;
    break-before: right;
}
.sectionMaintenance{
    page: maintenanceSection;
    break-before: right;
}
.sectionInspection{
    page: inspectionSection;
    break-before: right;
}
.sectionLubrication{
    page: lubricationSection;
    break-before: right;
}
.sectionRepairs{
    page: repairsSection;
    break-before: right;
}
.sectionLimitations{
    page: limitationsSection;
    break-before: right;
}










/*-------------------------------------------------------*/
/*HEADERS AND PAGE NUMBERS*/
/**/
/*Declare the counters*/
body{
    counter-reset: descPage maintPage inspPage lubePage repairsPage limitationsPage;
}

/*pgNumDesc is the class name for the page number field in the description headers*/
.pgNumDesc::after {
    content: counter(descPage);
}
.descriptionHeaderRight {
    position: running(descriptionHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: descPage;
}
@page descriptionSection :right {
    @top-center {
        content: element(descriptionHeaderRight);
    }
}
.descriptionHeaderLeft {
    position: running(descriptionHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: descPage;
}
@page descriptionSection :left {
    @top-center {
        content: element(descriptionHeaderLeft);
    }
}

/*Maintenance Section*/
.pgNumMaint::after {
    content: counter(maintPage);
}
.maintenanceHeaderRight {
    position: running(maintenanceHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: maintPage;
}
@page maintenanceSection :right {
    @top-center {
        content: element(maintenanceHeaderRight);
    }
}
.maintenanceHeaderLeft {
    position: running(maintenanceHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: maintPage;
}
@page maintenanceSection :left {
    @top-center {
        content: element(maintenanceHeaderLeft);
    }
}


/*Inspection Section*/
/*body{
    counter-reset: inspPage;
}*/
.pgNumInsp::after {
    content: counter(inspPage);
}
.inspectionHeaderRight {
    position: running(inspectionHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: inspPage;
}
@page inspectionSection :right {
    @top-center {
        content: element(inspectionHeaderRight);
    }
}
.inspectionHeaderLeft {
    position: running(inspectionHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: inspPage;
}
@page inspectionSection :left {
    @top-center {
        content: element(inspectionHeaderLeft);
    }
}



/*Lubrication Section*/
/*body{
    counter-reset: inspPage;
}*/
.pgNumLube::after {
    content: counter(lubePage);
}
.lubricationHeaderRight {
    position: running(lubricationHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: lubePage;
}
@page lubricationSection :right {
    @top-center {
        content: element(lubricationHeaderRight);
    }
}
.lubricationHeaderLeft {
    position: running(lubricationHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: lubePage;
}
@page lubricationSection :left {
    @top-center {
        content: element(lubricationHeaderLeft);
    }
}

/*Repairs Section*/
.pgNumRepairs::after {
    content: counter(repairsPage);
}
.repairsHeaderRight {
    position: running(repairsHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: repairsPage;
}
@page repairsSection :right {
    @top-center {
        content: element(repairsHeaderRight);
    }
}
.repairsHeaderLeft {
    position: running(repairsHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: repairsPage;
}
@page repairsSection :left {
    @top-center {
        content: element(repairsHeaderLeft);
    }
}

/*Limitations Section*/
.pgNumLimitations::after {
    content: counter(limitationsPage);
}
.limitationsHeaderRight {
    position: running(limitationsHeaderRight);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: limitationsPage;
}
@page limitationsSection :right {
    @top-center {
        content: element(limitationsHeaderRight);
    }
}
.limitationsHeaderLeft {
    position: running(limitationsHeaderLeft);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
    counter-increment: limitationsPage;
}
@page limitationsSection :left {
    @top-center {
        content: element(limitationsHeaderLeft);
    }
}

/**/
/**/
/*-------------------------------------------------------*/




